In [2]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('Warehouse_data.csv')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35852 entries, 0 to 35851
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       35852 non-null  int64
 1   Product     35852 non-null  object
 2   Product_ID  35852 non-null  object
 3   Arrival     35852 non-null  object
 4   Weight(kg)  35852 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ MB

In [16]:
df.describe()

              index    Weight(kg)
count  35852.000000  35852.000000
mean   17925.500000     92.902711
std    10349.725262    107.262113
min        0.000000     10.000000
25%     8962.750000     37.500000
50%    17925.500000     62.500000
75%    26888.250000     97.500000
max    35851.000000   1475.000000

In [17]:
df

,index,Product,Product_ID,Arrival,Weight(kg)
0,0,Apple,b174b181-c196-4a16-8415-2a6434d48d13,2013-06-16,110.0
1,1,Banana,73619262-1ca0-4cca-a68f-219a85d4bb04,2013-06-16,75.0
2,2,Brinjal Long,752ae7a6-132c-4e00-a9da-cc695b9004fc,2013-06-16,17.0
3,3,Brocauli,1bfd97a0-d2d6-4d16-87c3-b83484b9b309,2013-06-16,75.0
4,4,Carrot,d3b79163-69db-4a43-9eb8-881fd1025604,2013-06-16,32.5
...,...,...,...,...,...
35847,35847,Okara,6112f93c-e2a9-498c-916f-7bf2ebde66d9,2021-05-13,45.0
35848,35848,Papaya,927b88e6-313a-449a-a830-d75dc0d0da0d,2021-05-13,170.0
35849,35849,Potato Red,65bd4fea-2644-4ff8-a0cd-edb856ca704c,2021-05-13,36.0
35850,35850,Tomato Big,02329fa7-0fd8-48de-9f35-5a177a62da91,2021-05-13,95.0
35851,35851,Tomato Small,b6d5d5f1-8871-44db-b378-89eff0c4393e,2021-05-13,152.5

In [ ]:
random_numbers = np.random.randint(10, 201, size=len(df))